.c {
    height: 100px;
    width: 30%;
  }
  .card-center {
    padding-right: 35%;
    padding-left: 30%;
  }
  .card-t {
    padding-right: 35%;
    padding-left: 30%;
    margin: 3rem;
  }
  